@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Raleway:wght@700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-cabin;
  }
}
@layer base {
  html {
    font-size: 16px;
  }

  body {
    p {
      color: #0a0a0a;
    }
    h1,
    h2,
    h3 {
      color: #0a0a0a;
    }

    /* BG Image Mobile*/
    background-image: url("/background-c.svg");
    background-color: #e0e0e0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }

  @screen lg {
    html {
      font-size: 18px;
    }
    body {
      /* BG Image Desktop*/
      background-image: url("/background-c.svg");
      background-position: top;
    }
  }
}
