---
import Layout from "../layouts/Layout.astro";
import Image from "astro/components/Image.astro";
import NavbarHome from "../components/NavbarHome.jsx";
import "../styles/global.css";
import HeroFig from "../assets/hero-image.png";
import CountDown from "../components/Countdown";

const TheDay = new Date("Dec 21, 2024").getTime();
---

<Layout title="MyPertamina Fair 2024">
  <NavbarHome client:load />
  <main class="prose prose-lg overflow-x-hidden mt-16">
    <!-- Hero Section -->
    <section
      class="pt-16 w-full h-screen bg-no-repeat bg-cover bg-top"
      style="background-image: url('/background-b.svg');"
    >
      <!-- Hidden -->
      <h1 class="sr-only">MyPertamina Fair 2024</h1>
      <Image
        src={HeroFig}
        class="max-w-full mx-auto my-0"
        alt="Hero"
        loading="eager"
      />
      <div class="mb-16">
        <p
          class="my-0 text-[1.125rem] leading-[130%] font-raleway font-black text-center"
        >
          Istora Senayan (GBK)
        </p>
        <p
          class="text-[1.125rem] leading-[130%] font-raleway font-semibold mt-0 text-center"
        >
          21-22 Desember 2024
        </p>
      </div>
      <div class="flex flex-col items-center px-12">
        <a
          href="/tiket"
          class="block w-full py-3 bg-[#EB1B31] text-center text-white rounded-full no-underline font-raleway font-extrabold text-[1.125rem] leading-[130%] shadow-[0px_6px_10px_4px_rgba(0,0,0,0.15),0px_2px_3px_0px_rgba(0,0,0,0.30)]"
        >
          Beli Tiket
        </a>
        <a href="#countdown" class="scroll-smooth">
          <img src="/arrow-down.svg" alt="Scroll Down" class="mt-4 mb-0" />
        </a>
      </div>
    </section>

    <section
      id="countdown"
      class="w-full h-screen bg-no-repeat bg-cover bg-top"
      style="background-image: url('/background-a.svg');"
    >
      <!-- Countdown -->
      <CountDown client:load newYear={TheDay} />

      <!-- Information -->
      <div id="information" class="px-8 mb-28 mt-20">
        <h2
          class="text-center font-raleway text-[1.5rem] font-black leading-[130%]"
        >
          Informasi
        </h2>
        <div class="grid grid-cols-3 gap-4">
          <div class="flex justify-center">
            <a
              href="/festival#bazaar"
              class="no-underline hover:text-[#EB1B31]"
            >
              <img src="/icon-bazaar.svg" alt="Bazaar" class="w-18 h-18 my-0" />
              <p
                class="text-center mt-2 font-raleway text-[0.9375rem] leading-[130%]"
              >
                Bazaar <br />& Market
              </p>
            </a>
          </div>
          <div class="flex justify-center">
            <a
              href="/festival#actvityzone"
              class="no-underline hover:text-[#EB1B31]"
            >
              <img
                src="/icon-activity-zone.svg"
                alt="Activty Zone"
                class="w-18 h-18 my-0"
              />
              <p
                class="text-center mt-2 font-raleway text-[0.9375rem] leading-[130%]"
              >
                Activty<br /> Zone
              </p>
            </a>
          </div>
          <div class="flex justify-center">
            <a href="/festival" class="no-underline hover:text-[#EB1B31]">
              <img
                src="/icon-festival.svg"
                alt="Festival"
                class="w-18 h-18 my-0"
              />
              <p
                class="text-center mt-2 font-raleway text-[0.9375rem] leading-[130%]"
              >
                Artist <br /> Lineup
              </p>
            </a>
          </div>
          <div class="flex justify-center">
            <a href="/point-frenzy" class="no-underline hover:text-[#EB1B31]">
              <img
                src="/icon-point-frenzy.svg"
                alt="Point Frenzy"
                class="w-18 h-18 my-0"
              />
              <p
                class="text-center mt-2 font-raleway text-[0.9375rem] leading-[130%]"
              >
                Point <br /> Frenzy
              </p>
            </a>
          </div>
          <div class="flex justify-center">
            <a href="/venue-map" class="no-underline hover:text-[#EB1B31]">
              <img src="/icon-map.svg" alt="Venue Map" class="w-18 h-18 my-0" />
              <p
                class="text-center mt-2 font-raleway text-[0.9375rem] leading-[130%]"
              >
                Venue <br /> Map
              </p>
            </a>
          </div>
          <div class="flex justify-center">
            <a href="/faq" class="no-underline hover:text-[#EB1B31]">
              <img src="/icon-faq.svg" alt="FAQ" class="w-18 h-18 my-0" />
              <p
                class="text-center mt-2 font-raleway text-[0.9375rem] leading-[130%]"
              >
                FAQ
              </p>
            </a>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
